################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReleasesWeb/ClientApp/.vscode
TeamsAppBuilder/src/.vs
TeamsAppBuilder/src/.vs/TeamsAppBuilder/v17/.suo
TeamsAppBuilder/src/.vs/TeamsAppBuilder/v17/.suo
/TeamsAppBuilder/src/packages
/TeamsAppBuilder/src/ImagePreview/bin
/TeamsAppBuilder/src/ImagePreview/obj/Debug
/TeamsAppBuilder/src/UnitTests/bin/Debug
/TeamsAppBuilder/src/UnitTests/obj/Debug
/TeamsAppBuilder/src/API/bin
/TeamsAppBuilder/src/API/obj/Debug
/TeamsAppBuilder/src/API/API.csproj.user
/TeamsAppBuilder/src/API/Web.config
/ProtectedApi/.vs
/ProtectedApi/ProtectedApi/.config
/ProtectedApi/ProtectedApi/bin/Debug/net6.0
/ProtectedApi/ProtectedApi/obj
/ProtectedApi/spfx/.vscode
