################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReleasesWeb/ClientApp/.vscode
TeamsAppBuilder/src/.vs
TeamsAppBuilder/src/.vs/TeamsAppBuilder/v17/.suo
TeamsAppBuilder/src/.vs/TeamsAppBuilder/v17/.suo
/TeamsAppBuilder/src/packages
